/*  * {
  color: blue;
} */
/* Будет применяться для каждого элемента на странице, 
можно применить для скидание всех отступов margin , pading*/

:root {
  --third-color-text: #FFFFFF;
  --focus-color-text: #FF6C00;
  
}

.list {
  list-style: none;
}

body {
  font-family: "Open Sans", sans-serif;
}

.header {
}

/* Добавояем в класс через пробел там где хотим сделать что-то которое будет
применятся много раз, например убираем цяточки или можно задать убирание подчекивания */
