/*  * {
  color: blue;
} */
/* Будет применяться для каждого элемента на странице, 
можно применить для скидание всех отступов margin , pading*/

:root {
  --focus-color-text: #ff6c00;
  --color-primery-text: #555555;
  --color-secondary-text: #303030;
  --color-third-text: #ffffff;
  --color-fourth-text: rgba(157, 164, 189, 0.6);
  --color-fifth-text: #9da4bd;
  --color-bgc-master: #f7f7f7;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: var(--focus-color-text);
}

.pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.4;
}

.title {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 42px;
  line-height: 1.2;
  letter-spacing: 0.05em;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: 1px;
}

.btn {
  font-family: inherit;
  border: 1px solid var(--focus-color-text);
  border-radius: 25px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  cursor: pointer;
  padding: 12px 20px;
  min-width: 160px;
}
/* Применяем для все указаных элементов */
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  /* Убираем все отступы */
}

* {
  /* outline: 1px solid tomato; */
}

ul {
  padding-left: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  color: var(--color-primery-text);
  font-size: 14px;
  line-height: 1.9;
  letter-spacing: 0.02em;
}

.conteiner {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: 1px solid blue;
}

/* Header */

.header {
  background-color: thistle;
  padding-top: 31px;
}

.header-logo {
  display: block;
  margin-right: 130px;
}

.header-conteiner {
  display: flex;
  /* все элементы стали в ряд но вытянулись по высоте aling items: stretch;
   стоит за умолчанием */
  align-items: center;
  /* Для того чтобы элементы выстроились по центру */
}
.header-list {
  display: flex;
}

.header-item:not(:first-child) {
  /* применить кроме первого элеиента */
  margin-left: 30px;
}

.header-link {
  display: block;
  padding: 5px;
}

.header-link,
.header-contact {
  color: var(--color-third-text);
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.1em;
  outline: 1px solid tomato;
}

.contacts-wrap {
  margin-left: auto;
  /* Отпихуем в право */
}

.header-contact {
  /* display: block; */
  margin-right: 40px;
}

.primery-btn {
  background-color: black;
  color: var(--color-third-text);
  /* margin-left: 30px; */
  /* Уменьшаем с 40 до 30 так как добавили padding 5px */
  /* display: block; */
}

/* Maine */
/* Hero */

.hero {
  /* background-color: turquoise; */
}

.hero-conteiner {
  display: flex;
}

.hero-list {
  width: 100px;
}

.hero-link {
  color: var(--color-secondary-text);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.4;
  text-transform: uppercase;
}

.hero-wrapper {
  padding: 272px 0 208px 100px;
  background-color: turquoise;
  flex-grow: 1;
  /* Даем возможность расжирится на всю сторону */
}

.hero-pre-titel {
  color: var(-color-fourth-text);
  text-transform: uppercase;
  margin-bottom: 20px;
}

.hero-title {
  font-family: "Raleway", sans-serif;
  color: var(--color-third-text);
  font-weight: 700;
  font-size: 72px;
  line-height: 1.2;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
}

.hero-text {
  color: var(--color-fifth-text);
  font-size: 18px;
  line-height: 1.7;
  max-width: 357px;
}

.about-img {
  display: block;
}

/* Aboute */

.about {
  padding: 120px 0;
}

.about-wrapper {
  display: flex;
  /* Добавляем для того чтобы
   в контейнете постввить на одной стороне */
}

.about-list {
  display: flex;
}

.about-item:not(:first-child) {
  margin-left: 30px;
}

.conteiner-about-text {
  padding-left: 30px;
  padding-right: 100px;
  /* display: flex; */
}
.about-text {
  color: var(--color-secondary-text);
  text-transform: uppercase;
  margin-bottom: 20px;
}
.about-title {
  color: var(--color-secondary-text);
  margin-bottom: 20px;
}

.about-pre-text {
  font-size: 18px;
  line-height: 1.7;
  margin-bottom: 20px;
}

.about-secondary-text {
  margin-bottom: 42px;
}

.secondary-btn {
  color: var(--color-secondary-text);
}

/* Price */

.price {
  background-color: #303030;
  padding: 120px 0;
}

.price-text {
  color: var(--color-fourth-text);
  text-transform: uppercase;
  margin-bottom: 20px;
}

.price-title {
  color: var(--color-third-text);
  margin-bottom: 44px;
}

.price-list {
  display: flex;
  margin-bottom: 44px;
}

.price-item {
  width: calc((100%-30px) / 2);
  padding: 30px 20px;
  outline: 1px solid white;
}

.price-pre-item {
  display: flex;
  justify-content: space-between;
}

.price-pre-item:not(:last-child) {
  margin-bottom: 20px;
}

.price-item:first-child {
  margin-right: 30px;
}

.price-pre-text {
  color: var(--color-fifth-text);
  font-size: 18px;
  line-height: 1.7;
}

.price-btn {
  background-color: black;
  color: var(--color-third-text);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Reviews */
.reviews {
  padding: 120px 0;
}

.reviews-conteiner {
  display: flex;
}

.reviews-list {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  padding: 0 100px;
}

.reviews-item {
  width: 170px;
  height: 133px;
  padding: 20px 24px;
  /* outline: 1px solid black; */
}

.reviews-item:nth-child(2n) {
  margin-top: 30px;
}

.reviews-item:nth-child(2n + 1) {
  margin-right: 30px;
}

.reviews-item span {
  color: var(--color-secondary-text);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.4;
  letter-spacing: 0.05em;
}

.reviews-item sup {
  color: var(--focus-color-text);
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}

.reviews-text {
  color: var(--color-secondary-text);
}

.reviews-wrapper {
  padding-right: 70px;
  padding-left: 30px;
  width: 50%;
}

.reviews-pre-text {
  color: var(--color-secondary-text);
  text-transform: uppercase;
}

.reviews-title {
  color: var(--color-secondary-text);
}

.reviews-secondary-text {
  font-size: 18px;
  line-height: 1.7;
}

/* Masters */

.master {
  padding: 120px 0;
  background-color: var(--color-bgc-master);
}

.master-text {
  color: var(--color-secondary-text);
  text-transform: uppercase;
  margin-bottom: 20px;
}

.master-title {
  color: var(--color-secondary-text);
  margin-bottom: 45px;
}

.master-list {
  display: flex;
  flex-wrap: wrap;
}

.master-item {
  width: calc((100% - 60px) / 3);
  /* ФОрмула сетки 60 это два отступа по 30 3 это три
   элемента в строке  */
}

.master-item:not(:first-child) {
  margin-left: 30px;
  /* Добавили с левой стороны по 30 кроме первого */
}
.master-pre-title {
  color: var(--color-secondary-text);
  font-size: 18px;
  line-height: 1.4;
}

.master-pre-text {
  color: var(--focus-color-text);
  font-size: 14px;
  line-height: 1.4;
}

/* Work */

.work-text {
  color: var(--color-secondary-text);
  text-transform: uppercase;
}

.work-list {
  display: flex;
  flex-wrap: wrap;
}

.work-item {
  width: calc((100% - 90px) / 4);
}

.work-item:not(:first-child) {
  margin-left: 30px;
}

/* Feedback */
.feedbak {
  background-color: #303030;
}

.feedbak-title {
  color: var(--color-third-text);
}

/* Contacts */

.contacts {
  background-color: #303030;
}

.contacts-title {
  color: var(--color-third-text);
}

.contacts-address {
  font-style: normal;
}

.contacts-link {
  color: var(--color-fifth-text);
  font-size: 18px;
  line-height: 1.7;
}

.contacts-item:first-child {
  font-weight: 700;
  /* Ставим для первого ребенка */
}

.contacts-item:last-child {
  text-decoration: underline;
  /* Добавляем последнему элементу подчеркивание */
}

.contacts-text {
  color: var(--color-third-text);
  text-transform: uppercase;
}

.contacts-pre-text {
  color: var(--color-fifth-text);
  font-size: 18px;
  line-height: 1.7;
}

/* Footer */

.footer-text {
  color: var(--color-fifth-text);
}

.footer-link {
  color: var(--color-secondary-text);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.4;
}
