/*  * {
  color: blue;
} */
/* Будет применяться для каждого элемента на странице, 
можно применить для скидание всех отступов margin , pading*/

/* Все цвета, заливки:
1.  */

body {
  font-family: "Open Sans", sans-serif;
}

.header {
}

.list {
  list-style: none;
}
/* Добавояем в класс через пробел там где хотим сделать что-то которое будет
применятся много раз, например убираем цяточки или можно задать убирание подчекивания */
