:root {
  --focus-color-text: #ff6c00;
  --color-primery-text: #555555;
  --color-secondary-text: #303030;
  --color-third-text: #ffffff;
  --color-fourth-text: rgba(157, 164, 189, 0.6);
  --color-fifth-text: #9da4bd;
  --color-bgc-master: #f7f7f7;
  --color-bgc-bookincontacts: #191c26;
  --color-feedbak: rgba(157, 164, 189, 0.4);
}
