.nav-list {
  margin: 10px;
  padding: 10px;
  font-size: 13px;

  .icon {
    width: 10px;
  }

  .nav-item {
    color: tomato;

    &-link {
      color: yellow;
    }
  }

  &:hover {
    color: red;
  }

  &::before {
    content: "";
    position: absolute;

    &:hover {
      color: yellow;
    }
  }
}
