.about {
  padding: 120px 0;

  &-wrapper {
    display: flex;
    // Добавляем для того чтобы в контейнете поставить на одной стороне
  }

  &-list {
    display: flex;
  }

  &-item {
    &:not(:first-child) {
      margin-left: 30px;
    }
  }

  &-img {
    display: block;
  }

  &-conteiner-wraper {
    padding-left: 30px;
    padding-right: 100px;
  }

  &-text {
    margin-bottom: 20px;

    color: var(--color-secondary-text);

    text-transform: uppercase;
  }

  &-title {
    margin-bottom: 20px;

    color: var(--color-secondary-text);
  }

  &-pre-text {
    margin-bottom: 20px;

    font-size: 18px;
    line-height: 1.7;
  }

  &-secondary-text {
    margin-bottom: 42px;
  }
}
