.hero {
  // background-color: turquoise;

  &-conteiner {
    display: flex;
  }

  &-social-wrap {
    width: 90px;
    display: flex;
    align-items: flex-end;
  }

  &-list {
    width: 100px;
    display: flex;
    transform: rotate(-90deg) translate(100%);
    transform-origin: bottom left;
    align-items: center;
    gap: 40px;
  }

  &-list::before {
    content: "";
    height: 1px;
    width: 60px;
  }

  &-link {
    color: var(--color-secondary-text);

    @include font(11px, 600, 1.4);

    text-transform: uppercase;
  }

  &-wrapper {
    padding: 208px 113px 208px 31px;
    background-repeat: no-repeat;
    background-size: cover;
    flex-grow: 1;
    background-image: linear-gradient(
        rgba(25, 28, 38, 0.2),
        rgba(25, 28, 38, 0.2)
      ),
      url("../images/hero/hero-mobile-1x.jpg");
    /* Даем возможность расширится на всю сторону */

    /* Берем значение из макета и добавляем два раза */
    background-color: black;
    /* Даем заливку для того чтобы если вдруг не загрузится фото */

    @include retina {
      background-image: linear-gradient(
          rgba(25, 28, 38, 0.2),
          rgba(25, 28, 38, 0.2)
        ),
        url("../images/hero/hero-mobile-2x.jpg");
    }
    @include tabel-min {
      padding: 272px 90px 237px 120px;
      background-image: linear-gradient(
          rgba(25, 28, 38, 0.2),
          rgba(25, 28, 38, 0.2)
        ),
        url("../images/hero/hero-tablet-1x.jpg");

      @include retina {
        background-image: linear-gradient(
            rgba(25, 28, 38, 0.2),
            rgba(25, 28, 38, 0.2)
          ),
          url("../images/hero/hero-tablet-2x.jpg");
      }
    }

    @include desktop-min {
      padding: 272px 0 208px 100px;
      background-image: linear-gradient(
          rgba(25, 28, 38, 0.2),
          rgba(25, 28, 38, 0.2)
        ),
        url("../images/hero/hero-desktop-1x.jpg");

      @include retina {
        background-image: linear-gradient(
            rgba(25, 28, 38, 0.2),
            rgba(25, 28, 38, 0.2)
          ),
          url("../images/hero/hero-desktop-2x.jpg");
      }
    }
  }

  &-pre-titel {
    margin-bottom: 20px;

    color: var(-color-fourth-text);

    text-transform: uppercase;
  }

  &-title {
    margin-bottom: 20px;

    color: var(--color-third-text);

    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 72px;
    line-height: 1.2;
    letter-spacing: 0.05em;
  }

  &-text {
    max-width: 357px;

    color: var(--color-fifth-text);

    font-size: 18px;
    line-height: 1.7;
  }
}
