.price {
  padding: 120px 0;
  margin: 0 auto;
  // центрируем секцию
  background-attachment: fixed;
  // Делаем background картынки который двигается с экраном max-width:
  // 1600px; Задаем размер секции для того чтобы применить картинку к размеру блока 1600
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../images/pricefone.png"),
    linear-gradient(#111319, #111319);
  // ставим вначале изображение так как цвет без
  // прозрачности и формат файла фото png
  background-color: black;
  // страхуемся в случае не загрузки фона

  &-text {
    margin-bottom: 20px;

    color: var(--color-fourth-text);

    text-transform: uppercase;
  }

  &-title {
    margin-bottom: 44px;

    color: var(--color-third-text);
  }

  &-list {
    display: flex;
    margin-bottom: 44px;
  }

  &-item {
    width: calc((100% - 30px) / 2);
    padding: 30px 20px;
    // outline: 1px solid white;

    &:last-child {
      background: linear-gradient(
        180deg,
        #090b13 0%,
        rgba(9, 11, 19, 0.2) 100%
      );
    }
    &:first-child {
      margin-right: 30px;

      background: linear-gradient(
        180deg,
        #171a24 0%,
        rgba(23, 26, 36, 0.2) 100%
      );
      // Взяли из макета backgraund
    }
  }

  &-pre-item {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    // Для того чтобы поставить динию  внижнее положение

    &::after {
      content: "";
      height: 1px;
      flex-grow: 1;
      margin: 0 12px;
      // Добавляем отступы по краям

      background: rgba(157, 164, 189, 0.12);
    }

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &-pre-text {
    color: var(--color-fifth-text);
    font-size: 18px;
    line-height: 1.7;

    &:last-child {
      order: 1;
      // Меняем меставми элемнет, присваивая ему значение
    }
  }
}
