.reviews {
  padding: 120px 0;

  &-conteiner {
    display: flex;
  }

  &-list {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    padding: 0 100px;
  }

  &-item {
    width: 170px;
    height: 133px;
    padding: 20px 24px;
    text-align: center;

    // outline: 1px solid black;
    background-color: var(--color-bgc-master);

    &:nth-child(2n) {
      margin-top: 30px;
    }

    &:nth-child(2n + 1) {
      margin-right: 30px;
    }
  }

  &-span-text {
    color: var(--color-secondary-text);

    font-weight: 700;
    font-size: 42px;
    line-height: 1.4;
    letter-spacing: 0.05em;
  }

  &-sup-text {
    color: var(--focus-color-text);

    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
  }

  &-text {
    color: var(--color-secondary-text);

    font-weight: 600;
    font-size: 11px;
    line-height: 1.4;
  }

  &-wrapper {
    padding-right: 70px;
    padding-left: 30px;
    width: 50%;
  }

  &-pre-text {
    color: var(--color-secondary-text);

    text-transform: uppercase;
  }

  &-title {
    color: var(--color-secondary-text);
  }

  &-secondary-text {
    font-size: 18px;
    line-height: 1.7;
  }
}
