.work {
  padding-top: 120px;
  padding-bottom: 120px;

  &-text {
    margin-bottom: 44px;

    color: var(--color-secondary-text);

    text-transform: uppercase;
  }

  &-list {
    display: flex;
    flex-wrap: wrap;
  }

  &-item {
    width: calc((100% - 90px) / 4);

    &:not(:first-child) {
      margin-left: 30px;
    }
  }

  &-img {
    max-width: 100%;
  }
}
