.work {
  padding-top: 120px;
  padding-bottom: 120px;
}

.work-text {
  margin-bottom: 44px;

  color: var(--color-secondary-text);

  text-transform: uppercase;
}

.work-list {
  display: flex;
  flex-wrap: wrap;
}

.work-item {
  width: calc((100% - 90px) / 4);
}

.work-item:not(:first-child) {
  margin-left: 30px;
}

.work-img {
  max-width: 100%;
}
